<body style="font-family:Trebuchet MS;padding:50px;background-image: linear-gradient(to right, pink, yellow)">

    <h1 style="font-family:Trebuchet MS;">About me<h1>
    <hr class="rounded" style="border-top:5px solid black;">
    
    <p style="color:maroon;font-size:16px;font-family:Trebuchet MS;">
    Learra was born in 1930 in San Francisco, California, USA. She started programming and web development at 5 years old. She attended university at the University of Memphis and received her Bachelor's degree in Computer Science in 1967. Learra has been awarded a number of awards from the ASDP for innovations in research, a Nobel prize, and a Pulitzer. Her skills include:
    <ul style="color:maroon;font-size:16px;font-family:Trebuchet MS;">
        <li>Leadership</li>
        <li>Python</li>
        <li>Ruby</li>
        <li>Rails</li>
        <li>Reading 1500 books</li>
    </ul>
    </p>
    </body>
    