<body style="font-family:Trebuchet MS;padding:50px;background-image: linear-gradient(to right, pink, yellow)">

    <h1 style="font-family:Trebuchet MS;">Contact me<body>
    
    <hr class="rounded" style="border-top:5px solid black;">
    
    <h2 style="color:maroon;font-size:16px;font-family:Trebuchet MS;">Email: learra.portfolio@gmail.com</h2>
    <h2 style="color:maroon;font-size:16px;font-family:Trebuchet MS;">PO Box: 2340 Crosstown Lane Memphis, TN</h2>
    <h2 style="color:maroon;font-size:16px;font-family:Trebuchet MS;">Instagram: learraPortfolio</h2>
    <h2 style="color:maroon;font-size:16px;font-family:Trebuchet MS;">Youtube: learraPortfolio</h2>
    
    </body>
    