<body style="font-family:Trebuchet MS;padding:50px;background-image: linear-gradient(to right, pink, yellow)">
<h1 style="font-family:Trebuchet MS;margin-bottom:0px;">Welcome to my Portfolio<h1>

<hr class="rounded" style="border-top:5px solid black;">

<p style="margin-top:0px;color:maroon;font-size:16px;font-family:Trebuchet MS;">Learra has over 45 years of experience in web development, and has been creating websites since 1940. She has experience in HTML, CSS, Javascript, and Ruby on Rails.<p>
<img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-760w,f_auto,q_auto:best/newscms/2019_01/3165886/191230-woman-computer-night-stock-cs-346p.jpg" height=500>
</body>
    