<body style="font-family:Trebuchet MS;padding:50px;background-image: linear-gradient(to right, pink, yellow)">

    <h1 style="font-family:Trebuchet MS;">My Work<body>
    
        <hr class="rounded" style="border-top:5px solid black;">
    
        <h2 style="color:maroon;font-size:16px;font-family:Trebuchet MS;">Wordle clone created with C/C++</h2>
        <p>https://github.com/lnuesalip/wordle-cpp</p>
        <img src="https://assetsio.gnwcdn.com/wordle-past-answers-header.jpg?width=1200&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp" height=150>
        
        <h2 style="color:maroon;font-size:16px;font-family:Trebuchet MS;">5-Card Draw Poker created with Ruby</h2>
        <p>https://github.com/lnuesalip/midterm-project</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_0V4Y8OklF_8lT7I4V_RAs-xgVq3Yh1rKtk9Mqi64KA&s" height=150>
    </body>    